xml/definicoes.dtd

<!ELEMENT cardapio (pratos+)>
<!ELEMENT pratos (nome, descricao, ingredientes, preco, calorias, tempo)>
<!ATTLIST pratos id ID #REQUIRED>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT ingrediente (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempo (#PCDATA)>
